In [5]:
from typing import Any, Union

import pandas as pd
from pandas import DataFrame, Series
from pandas.io.parsers import TextFileReader

df = pd.read_csv('glassdoor_jobs.csv')
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Data Scientist,$109K - $175K (Glassdoor est.),Job Posting Title\nSenior Data Scientist\nSumm...,3.2,Big Fish Games\n3.2,"Oakland, CA",-1,501 to 1000 Employees,2002,Subsidiary or Business Segment,Video Games,Media,$50 to $100 million (USD),-1
1,Data Scientist Technical Specialist,$93K - $153K (Glassdoor est.),Technology is constantly changing and our adve...,3.7,Peraton\n3.7,"Chantilly, VA",-1,1001 to 5000 Employees,2017,Company - Private,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),-1
2,Scientist - Biology and Biostatistics,-1,Octave combines deep data with profound empath...,-1.0,Octave Bioscience,"Menlo Park, CA",-1,-1,-1,-1,-1,-1,-1,-1
3,Data Analyst,$40K - $73K (Glassdoor est.),This position will be responsible for the deve...,3.6,Bell Partners\n3.6,"Raleigh, NC",-1,1001 to 5000 Employees,1976,Company - Private,Real Estate,Real Estate,$50 to $100 million (USD),-1
4,(FOOD SCIENTIST) Sr. Product Development Techn...,-1,Horizon Food Groupis a strategic bakery and sw...,-1.0,NEMO'S BAKERY,California,-1,-1,-1,-1,-1,-1,-1,-1

In [9]:
#Salary parsing
#Company Name text only
#State Field
#Age of company
#Parsing of Job description

df = df[df['Salary Estimate'] != '-1']
salary = df['Salary Estimate'].apply(lambda x:x.split('(')[0])
minus_kd = salary.apply(lambda x:x.replace('K','').replace('$',''))
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['min_salary'] = minus_kd.apply(lambda x:int(x.split('-')[0]))
df['max_salary'] = minus_kd.apply(lambda x:int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary + df.max_salary)/2

df.head()
print(df.columns)

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'min_salary', 'max_salary', 'avg_salary'],
      dtype='object')

In [11]:
#Company name only
df['company_txt'] = df.apply(lambda x:x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3],axis =1)
df_new =df['Location']
#State field
df[['City','State']] = df.Location.str.split(",",expand=True)
#Age of company
df['Age'] = df.Founded.apply(lambda x: x if x <1 else 2020 -x)
df['Job Description'][3]
del df['City']
del df['Competitors']
del df['hourly']
del df['Headquarters']
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,company_txt,State,Age
0,Senior Data Scientist,$109K - $175K (Glassdoor est.),Job Posting Title\nSenior Data Scientist\nSumm...,3.2,Big Fish Games\n3.2,"Oakland, CA",501 to 1000 Employees,2002,Subsidiary or Business Segment,Video Games,Media,$50 to $100 million (USD),109,175,142.0,Big Fish Games\n,CA,18
1,Data Scientist Technical Specialist,$93K - $153K (Glassdoor est.),Technology is constantly changing and our adve...,3.7,Peraton\n3.7,"Chantilly, VA",1001 to 5000 Employees,2017,Company - Private,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),93,153,123.0,Peraton\n,VA,3
3,Data Analyst,$40K - $73K (Glassdoor est.),This position will be responsible for the deve...,3.6,Bell Partners\n3.6,"Raleigh, NC",1001 to 5000 Employees,1976,Company - Private,Real Estate,Real Estate,$50 to $100 million (USD),40,73,56.5,Bell Partners\n,NC,44
5,Marketing Scientist I,$48K - $103K (Glassdoor est.),Valassis is a leader in the marketing technolo...,3.3,Valassis\n3.3,"Livonia, MI",1001 to 5000 Employees,1970,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,48,103,75.5,Valassis\n,MI,50
8,"Scientist, Product Development",$50K - $93K (Glassdoor est.),Summary:\nMetagenics is a global lifestyle med...,3.1,Metagenics\n3.1,"Gig Harbor, WA",201 to 500 Employees,1983,Company - Private,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),50,93,71.5,Metagenics\n,WA,37

In [13]:
#Python
df['python'] =df['Job Description'].apply(lambda x : 1 if 'python' in x.lower() else 0)
# print(df.python.value_counts())
# R studio
df['r_studio'] =df['Job Description'].apply(lambda x : 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.r_studio.value_counts()
#Spark
# R studio
df['spark'] =df['Job Description'].apply(lambda x : 1 if 'spark' in x.lower() else 0)
print(df.spark.value_counts())
#aws
#AWS
df['aws'] =df['Job Description'].apply(lambda x : 1 if 'aws' in x.lower() else 0)
print(df.aws.value_counts())

#Excel
df['excel'] =df['Job Description'].apply(lambda x : 1 if 'excel' in x.lower() else 0)
print(df.excel.value_counts())
# df.drop['Location' == 'Remote']
df.head()

0    1192
1      25
Name: spark, dtype: int64
0    1146
1      71
Name: aws, dtype: int64
0    1121
1      96
Name: excel, dtype: int64

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,max_salary,avg_salary,company_txt,State,Age,python,r_studio,spark,aws,excel
0,Senior Data Scientist,$109K - $175K (Glassdoor est.),Job Posting Title\nSenior Data Scientist\nSumm...,3.2,Big Fish Games\n3.2,"Oakland, CA",501 to 1000 Employees,2002,Subsidiary or Business Segment,Video Games,...,175,142.0,Big Fish Games\n,CA,18,0,0,0,0,0
1,Data Scientist Technical Specialist,$93K - $153K (Glassdoor est.),Technology is constantly changing and our adve...,3.7,Peraton\n3.7,"Chantilly, VA",1001 to 5000 Employees,2017,Company - Private,Aerospace & Defense,...,153,123.0,Peraton\n,VA,3,0,0,0,0,0
3,Data Analyst,$40K - $73K (Glassdoor est.),This position will be responsible for the deve...,3.6,Bell Partners\n3.6,"Raleigh, NC",1001 to 5000 Employees,1976,Company - Private,Real Estate,...,73,56.5,Bell Partners\n,NC,44,0,0,0,0,0
5,Marketing Scientist I,$48K - $103K (Glassdoor est.),Valassis is a leader in the marketing technolo...,3.3,Valassis\n3.3,"Livonia, MI",1001 to 5000 Employees,1970,Company - Private,Advertising & Marketing,...,103,75.5,Valassis\n,MI,50,0,0,0,0,0
8,"Scientist, Product Development",$50K - $93K (Glassdoor est.),Summary:\nMetagenics is a global lifestyle med...,3.1,Metagenics\n3.1,"Gig Harbor, WA",201 to 500 Employees,1983,Company - Private,Health Care Services & Hospitals,...,93,71.5,Metagenics\n,WA,37,0,0,0,0,0

In [14]:
df_out = df
df_out.to_csv("salary_data_claned.csv",index=False)

# df.out = df.out.drop(['Competitors'],axis=1)

In [15]:
pd.read_csv('salary_data_claned.csv')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,max_salary,avg_salary,company_txt,State,Age,python,r_studio,spark,aws,excel
0,Senior Data Scientist,$109K - $175K (Glassdoor est.),Job Posting Title\nSenior Data Scientist\nSumm...,3.2,Big Fish Games\n3.2,"Oakland, CA",501 to 1000 Employees,2002,Subsidiary or Business Segment,Video Games,...,175,142.0,Big Fish Games\n,CA,18,0,0,0,0,0
1,Data Scientist Technical Specialist,$93K - $153K (Glassdoor est.),Technology is constantly changing and our adve...,3.7,Peraton\n3.7,"Chantilly, VA",1001 to 5000 Employees,2017,Company - Private,Aerospace & Defense,...,153,123.0,Peraton\n,VA,3,0,0,0,0,0
2,Data Analyst,$40K - $73K (Glassdoor est.),This position will be responsible for the deve...,3.6,Bell Partners\n3.6,"Raleigh, NC",1001 to 5000 Employees,1976,Company - Private,Real Estate,...,73,56.5,Bell Partners\n,NC,44,0,0,0,0,0
3,Marketing Scientist I,$48K - $103K (Glassdoor est.),Valassis is a leader in the marketing technolo...,3.3,Valassis\n3.3,"Livonia, MI",1001 to 5000 Employees,1970,Company - Private,Advertising & Marketing,...,103,75.5,Valassis\n,MI,50,0,0,0,0,0
4,"Scientist, Product Development",$50K - $93K (Glassdoor est.),Summary:\nMetagenics is a global lifestyle med...,3.1,Metagenics\n3.1,"Gig Harbor, WA",201 to 500 Employees,1983,Company - Private,Health Care Services & Hospitals,...,93,71.5,Metagenics\n,WA,37,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212,Data Scientist,$88K - $146K (Glassdoor est.),In today’s rapidly evolving technology landsca...,4.2,steampunk\n4.2,"McLean, VA",201 to 500 Employees,2003,Company - Private,IT Services,...,146,117.0,steampunk\n,VA,17,0,0,0,0,0
1213,Data Scientist,$67K - $112K (Glassdoor est.),"Tracing our earliest roots to 1866, VTG has bu...",4.0,VTG\n4.0,"Alexandria, VA",1001 to 5000 Employees,1966,Company - Private,Aerospace & Defense,...,112,89.5,VTG\n,VA,54,0,0,0,1,0
1214,Data Scientist,$98K - $156K (Glassdoor est.),MobiTV is a video delivery solutions expert co...,2.1,"MobiTV, Inc\n2.1","Emeryville, CA",201 to 500 Employees,1999,Company - Private,Computer Hardware & Software,...,156,127.0,"MobiTV, Inc\n",CA,21,0,0,0,0,0
1215,Data Scientist,$83K - $141K (Glassdoor est.),"Medscape, a division of WebMD, develops and ho...",3.0,WebMD\n3.0,"New York, NY",1001 to 5000 Employees,2005,Company - Public,Internet,...,141,112.0,WebMD\n,NY,15,0,0,0,0,0
1216,Data Scientist,$59K - $105K (Glassdoor est.),Overview:\nThe Data Scientist will be an imper...,3.9,Invicro\n3.9,"Boston, MA",201 to 500 Employees,2008,Company - Private,Biotech & Pharmaceuticals,...,105,82.0,Invicro\n,MA,12,0,0,0,0,0