In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("salary_data_cleaned.csv")

In [6]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,max_salary,avg_salary,company_txt,State,Age,python,r_studio,spark,aws,excel
0,Senior Data Scientist,$109K - $175K (Glassdoor est.),Job Posting Title\r\nSenior Data Scientist\r\n...,3.2,Big Fish Games\r\n3.2,"Oakland, CA",501 to 1000 Employees,2002,Subsidiary or Business Segment,Video Games,...,175,142.0,Big Fish Games\r\n,CA,18,0,0,0,0,0
1,Data Scientist Technical Specialist,$93K - $153K (Glassdoor est.),Technology is constantly changing and our adve...,3.7,Peraton\r\n3.7,"Chantilly, VA",1001 to 5000 Employees,2017,Company - Private,Aerospace & Defense,...,153,123.0,Peraton\r\n,VA,3,0,0,0,0,0
2,Data Analyst,$40K - $73K (Glassdoor est.),This position will be responsible for the deve...,3.6,Bell Partners\r\n3.6,"Raleigh, NC",1001 to 5000 Employees,1976,Company - Private,Real Estate,...,73,56.5,Bell Partners\r\n,NC,44,0,0,0,0,0
3,Marketing Scientist I,$48K - $103K (Glassdoor est.),Valassis is a leader in the marketing technolo...,3.3,Valassis\r\n3.3,"Livonia, MI",1001 to 5000 Employees,1970,Company - Private,Advertising & Marketing,...,103,75.5,Valassis\r\n,MI,50,0,0,0,0,0
4,"Scientist, Product Development",$50K - $93K (Glassdoor est.),Summary:\r\nMetagenics is a global lifestyle m...,3.1,Metagenics\r\n3.1,"Gig Harbor, WA",201 to 500 Employees,1983,Company - Private,Health Care Services & Hospitals,...,93,71.5,Metagenics\r\n,WA,37,0,0,0,0,0

In [7]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'min_salary', 'max_salary',
       'avg_salary', 'company_txt', 'State', 'Age', 'python', 'r_studio',
       'spark', 'aws', 'excel'],
      dtype='object')

In [9]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning'
    elif 'manager' in title.lower():
        return 'manager'
    elif ' director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower:
        return 'senior'
    elif 'jr' in title.lower() or'jenior' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'
    
    #-----------------
    #job title and seniority